<ion-content class="auth-container">
  <div class="content-wrapper">
    <div class="logo">
      <img src="assets/png/logo.png" alt="LOGO ACADEMIA" />
    </div>

    <span class="title">ENTRAR</span>

    <form [formGroup]="loginForm" (ngSubmit)="login()" class="auth-form">
      <ion-input
        label="Email"
        label-placement="floating"
        fill="outline"
        formControlName="email"
        type="email"
        placeholder="seu@email.com"
      ></ion-input>

      <ion-input
        label="Senha"
        label-placement="floating"
        fill="outline"
        formControlName="password"
        type="password"
        placeholder="Senha"
      ></ion-input>

      <ion-button
        expand="full"
        type="submit"
        shape="round"
        [disabled]="loginForm.invalid || isLoading"
      >
        <ng-container *ngIf="!isLoading; else loading"> Login </ng-container>
        <ng-template #loading>
          <ion-spinner name="dots" color="light" size="small"></ion-spinner>
        </ng-template>
      </ion-button>
    </form>

    <p class="register-text" (click)="goToRegister()">
      Não tem uma conta? Crie uma
    </p>
  </div>
</ion-content>
