// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
$primary-color: #202020;
$secondary-color: #f07d07;
$rank-color: #6A36E8;
$action-color: #161616;
