<ion-content class="register-container">
  <div class="content-wrapper">
    <div class="logo">
      <img src="assets/png/logo.png" alt="LOGO ACADEMIA" />
    </div>

    <span class="title">CRIAR CONTA</span>

    <form
      [formGroup]="registerForm"
      (ngSubmit)="register()"
      class="register-form"
    >
      <ion-input
        label="Nome"
        label-placement="floating"
        fill="outline"
        formControlName="username"
        type="text"
        placeholder="Nome"
      ></ion-input>

      <ion-input
        label="Email"
        label-placement="floating"
        fill="outline"
        formControlName="email"
        type="email"
        placeholder="seu@email.com"
      ></ion-input>

      <ion-input
        label="Senha"
        label-placement="floating"
        fill="outline"
        formControlName="password"
        type="password"
        placeholder="Senha"
      ></ion-input>

      <ion-button
        expand="full"
        type="submit"
        shape="round"
        [disabled]="registerForm.invalid || isLoading"
      >
        <ng-container *ngIf="!isLoading; else loading">
          Criar Conta
        </ng-container>
        <ng-template #loading>
          <ion-spinner name="dots" color="light" size="small"></ion-spinner>
        </ng-template>
      </ion-button>
    </form>

    <p class="login-text" (click)="goToLogin()">Já tem uma conta? Faça login</p>
  </div>
</ion-content>
