<ion-menu contentId="main-content">
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-title>Olá, {{user?.displayName}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding"
    ><ion-button class="button-logout" expand="full" (click)="logout()"
      >Sair <ion-icon name="log-out"></ion-icon> </ion-button
  ></ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>

      <div class="toolbar-content">
        <img src="assets/png/logo.png" alt="LOGO ACADEMIA" class="logo" />
        <span>
          <ion-icon name="notifications" class="icon-notification"></ion-icon>
          <div class="notification-bubble"></div>
        </span>
      </div>
    </ion-toolbar>
    <app-user-header username="{{user?.displayName}}" />
  </ion-header>

  <ion-content>
    <div id="exercises">
      <div id="exercise-section">
        <h2>
          PERSONAL ONLINE
          <ion-icon name="add-circle-outline"></ion-icon>
        </h2>
        <div class="scroll-section">
          <app-add-card />
          @for (exerc of getMyExercises(); track $index) {
          <app-card
            highlightText="{{exerc.highlightText}}"
            mainText="{{exerc.mainText}}"
            imagePath="{{exerc.imagePath}}"
          />
          }
          <div class="shadow-right"></div>
        </div>
      </div>

      <div id="exercise-section">
        <h2>
          PROGRAMAS<span class="pill"><p>NOVO</p></span>
        </h2>
        <div class="scroll-section">
          @for (exerc of getProgramExercises(); track $index) {
          <app-card
            highlightText="{{exerc.highlightText}}"
            mainText="{{exerc.mainText}}"
            imagePath="{{exerc.imagePath}}"
          />
          }
          <div class="shadow-right"></div>
        </div>
      </div>

      <div id="bonus-section">
        <h2>CONTEÚDOS</h2>
        <div class="scroll-section">
          @for (exerc of getContent(); track $index) {
          <app-card
            highlightText="{{exerc.highlightText}}"
            mainText="{{exerc.mainText}}"
            imagePath="{{exerc.imagePath}}"
          />
          }
          <div class="shadow-right"></div>
        </div>
      </div>
      <div class="shadow-bottom"></div>
    </div>
  </ion-content>
</div>
